* {
  margin: 0px;
}
/* Main game */
.main_index {
  background-color: burlywood;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: cursive;
  position: relative;
  width: 100%;
  flex-direction: column;
}
.question_mark {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -30px;
  font-family: Aria, Helvetica, sans-serif;
  border: 5px black dashed;
  padding: 10px;
  background-color: crimson;
}
.bottom_left_index {
  background-color: darkcyan;
  width: 50%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}
.start {
  width: fit-content;
  background-color: lightcoral;
}
.reset {
  background-color: lightsalmon;
}
.start_sub {
  display: none;
  background-color: lightcoral;
}
.reset_sub {
  display: none;
  background-color: lightsalmon;
}
.bottom_index {
  display: flex;
}
.bottom_right_index {
  background-color: cadetblue;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* main Game ends here */
/* instruct starts here */
.heading_instruct {
  background-color: cadetblue;
  border: black 3px solid;
  text-align: center;
  padding: 2%;
  height: 5vh;
}
.content_instruct {
  background-color: lightseagreen;
  height: 89.5vh;
}
.button_instruct {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}
.content_instruct {
  padding: 1%;
}

/* instruct ends here */
@media only screen and (max-width: 768px) {
  .bottom_index {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50vh;
  }
  .main_index {
    height: 20vh;
    flex-direction: row;
  }
  .heading_index {
    padding: 5%;
  }
  .bottom_index {
    height: 80vh;
  }
  .bottom_left_index {
    width: 100%;
    height: 50%;
  }
  .bottom_right_index {
    width: 100%;
    height: 30vh;
  }
  .question_mark {
    position: static;
    margin-right: 5%;
    margin-bottom: 0;
  }
  .start {
    display: none;
  }
  .reset {
    display: none;
  }
  .start_sub {
    display: block;
    height: 10vh;
    width: 50%;
    /* pointer-events: none; */
  }
  .reset_sub {
    display: block;
    height: 10vh;
    width: 50%;
  }
  .lastest {
    display: flex;
    flex-direction: row;
  }
}
